.home-container {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 10%;
  box-sizing: border-box;
  min-height: 100vh;
  margin-top: 0;
  overflow-y: hidden;
}

.flex-left {
  width: 70%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: flex;
  text-align: center;
  transition: transform 1s;
  width: 280px;
  height: 80px;
  padding: 12px 24px;
  background-color: #faf9f6;
  border-radius: 10px;
  font-weight: 700;
  color: #060b26;
}

.bio {
  max-width: 400px;
  min-height: 150px;
  margin-top: 8%;
  padding: 12px;
  font-weight: 700;
  border-radius: 10px;
  word-spacing: 2px;
  background-color: #6b6473;
  color: #faf9f6;
  line-height: 25px;
  border: 1px solid #faf9f6;
}

.blue,
.greeting-right {
  color: #707070;
  font-weight: 700;
}

.greeting-right {
  margin-left: 10%;
}

.header-text img {
  width: 50px;
  height: 50px;
}

.header-text:hover {
  transform: scale(1.1);
}

.header-text > h2 {
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  color: #faf9f6;
  margin: 10px;
}

.header-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 35px 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6b6473;
  color: #faf9f6;
  padding: 0 36px;
  height: 52px;
  text-decoration: none;
  left: 0;
  top: 0;
  box-shadow: 0 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 36px;
  margin: 4px;
}

.btn-white {
  background-color: #faf9f6;
  color: #112d57;
}

.btn-transparent {
  border: 1px solid #faf9f6;
  color: #faf9f6;
  box-sizing: border-box;
}

.btn:hover {
  box-shadow: 1px 10px 32px rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease-in-out;
}

.btn-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: center;
}

.splash-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.home-anim {
  margin-bottom: -80px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  animation: icon-spin infinite 20s linear;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon1 {
  width: 50px;
  height: 50px;
  margin-left: -290px;
  animation: icon-spin infinite 20s linear;
}

/* For small height screen sizes */
@media only screen and (max-height: 550px) {
  .home-anim {
    width: 400px;
  }

  .home-container {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
  }
}

/* For small width screens */
@media only screen and (max-width: 640px) {
  .home-anim {
    width: 80%;
    align-self: center;
    margin-bottom: -20px;
  }

  .header-btns {
    margin: 10px 10px 35px 10px;
  }

  .header-text {
    width: 270px;
  }

  .header-text > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 20px;
    color: #e5e5e5;
    margin: 12px;
    padding-bottom: 5px;
  }

  .home-container {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
  }

  .icon1 {
    margin-left: -200px;
    margin-top: -50px;
  }
}
